/* Import a font from google */
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Utilize the font for the page */
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Raleway')
}

.User-container-1 {
   margin: auto;
}

body{
    background-image: url('../../images/shattered.png');
}

.container {
    text-align: center;
    
}

h4 {
    font-family: 'Raleway';
}

h5 {
    margin-bottom:10rem;
}

.fa {
    color:#00cc00;
}

.buttons {
    margin-top:50px;
}










