/* Import a font from google */

.User-container-1 {
   margin: auto;
}


.container {
    text-align: center;
    height:100%;
}

h4 {
    font-family: 'Raleway';
}

#name-helper-text{
    font-family: 'Raleway';
}
h5 {
    margin-bottom:10rem;
}

.fa {
    color:#00cc00;
}

.buttons {
    margin-top:25px;
    margin-right:20px;
}

.logIn {
    margin-right:20px;
}

.jumbotron {
    width:20px !important;
}










