.navbar-default {
    min-height:60px;
    border-color:#5D6263 ;
}

.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#2c4053 0,#2c4053 100%) !important; /* override background image gradient w/ flat color */
}

.navbar-collapse{
    border-top:transparent;
}

.navbar-brand{
    font-size: 25px;
    color:white;
}
.navbar-brand:hover{
   color:green;
}






.navbar-default .navbar-nav > li > a {
    font-size: 20px;
    color:white;
}

.navbar-default .navbar-brand{
    color:white;
}

nav.navbar, .navbar-default{
    background-color: #5D6263 !important;
}